.heading{
    font-size: 22px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 25px aqua;
}

.heading_div{
    background-color: white;
    color: black;
    padding: 10px;
    box-shadow:5px 5px 5px gray;
    border-radius: 20px;
    float:none;

}

.heading_div2{
    font-size: 18px;
}

.result_para_tag{
    box-shadow: 5px 5px 15px aqua;
    color:aliceblue;
    font-size: 20;
}

.copy_right_footer{
    font-size: 30px;
    color:black;
    background-color: blanchedalmond;
    font-style: italic;
    font:bold;
    position:fixed;
    bottom: 0;
    width:100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas{
    border: 5px solid lightskyblue;
    border-radius: 200px;
    box-shadow: 5px 5px 30px aqua;
    margin-top: 150px;
}